.message
  .upper-message
    .upper-message__user-name user-name
    .upper-message__create-date 2018/02/28 12:34:45
  .lower-message
    .lower-message__content sample message
.message
  .upper-message
    .upper-message__user-name user-name
    .upper-message__create-date 2018/03/01 11:30:12
  .lower-message
    .lower-message__content testã§ã™
