.side-bar
  .user-information
    %h3.user-information__user-name user-name
    .user-information__icon-lists
      .icon-list
        %i.fa.fa-pencil-square-o.icon
        %i.fa.fa-cog.icon
  .groups
    = render partial: "messages/group"
