.wrapper
  .side-bar
    .user-information
      %h3.user-information__user-name user-name
      .user-information__icon-lists
        .icon-list
          %i.fa.fa-pencil-square-o.icon
          %i.fa.fa-cog.icon
    .groups
      .group
        .group__name group1
        .group__message testです
  .chat
    .header
      .left-header
        .left-header__group-name
        .left-header__group-members
          .group-member
      .right-header
        .right-header__edit-button
      .messages
        .message
          .message__upper
          .message__lower
      .message-form
        .message-form__content
          .image-form
            .image-form__message-image
        .form-submit
